html {
  font-size: 14px;
}

input {
  height: 35px;
  color: #2c3e50;
  min-width: 300px;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-family: 'Chivo', sans-serif;
}

a, a:hover, a:focus, a:visited, a:active {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

.mx-auto, .ml-auto {
  margin-left: auto;
}

.mx-auto, .mr-auto {
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-input, .form-label {
  width: 100%;
  font-weight: 700;
}

.form-input {
  color: #2c3e50;
}

.form-label {
  font-size: 1rem;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
}

.bg-primary {
  background-color: #4575bd;
}

.bg-red {
  background-color: #e74c3c;
}

.bg-blue {
  background-color: #2c3e50;
}

.bg-white {
  background-color: #fff;
}

.cl-primary {
  color: #4575bd;
}

.cl-red {
  color: #e74c3c;
}

.cl-blue {
  color: #2c3e50;
}

.cl-white {
  color: #fff;
}

.loader {
  -webkit-transition: all .6s;
  transition: all .6s;
  width: 100%;
  height: 100vh;
  top: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.btn {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn.btn-primary {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}

.btn.btn-primary:hover {
  background-color: #fff;
  color: #e74c3c;
}

.btn.btn-secondary {
  background-color: #2c3e50;
  color: #fff;
  border-color: #2c3e50;
}

/*  -----------------------------------------------
    General
    ----------------------------------------------- */
nav {
  height: 50px;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav img {
  width: 40px;
}

.menu-item {
  font-weight: 600;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu-item:hover {
  color: #2c3e50;
  background-color: #fff;
}

.menu {
  background-color: #4575bd;
  color: #fff;
}

.local-info {
  border-bottom: 2px solid #4575bd;
}

.username {
  border-bottom: 2px solid #fff;
  font-weight: 700;
}

/*  -----------------------------------------------
    LOGIN
    ----------------------------------------------- */
.login nav {
  height: 50px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.login h1 {
  margin-top: 30px;
}

.login .login-form {
  min-height: 100vh;
  background-color: #4575bd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*  -----------------------------------------------
    DASHBOARD
    ----------------------------------------------- */
.dashboard .menu {
  width: 30%;
}

.dashboard .main-content {
  width: 70%;
}

.dashboard .local-info {
  color: #2c3e50;
}

.dashboard .local-info h4 {
  text-transform: uppercase;
}
/*# sourceMappingURL=Main.css.map */